configuration {
    font: "IosevkaTermNerdFont Bold 13";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     false;
}


@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 30%;
	height: 40%;
}
