* {
  all: unset // Desconfigurar todo para estilizar todo desde cero
}

// Estilos globales

// Colores

$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$saphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

// Barras

// Es la ventana que contiene toda la barra

.catppuccin {
  margin: 15px 15px 15px 15px;
  padding: 5px 7px 8px 7px;
  border-radius: 3px;
}

// Caja con los módulos bottom, center y right

.catppuccin_dock {
  background-color: $mantle;
  color: $subtext1;
  box-shadow: 3px 2px 5px rgba($color: #000000, $alpha: 0.8);
}

// Widgets

.menu {
  background-color: $mantle;
  color: $saphire;
  font-family: Iosevka NF;
  font-size: 19pt;
  padding: 0px 8px 5px 0px;
}

.workspaces_box {
  background-color: $base;
  font-family: Iosevka NF;
  border-radius: 6px;
  padding: 0px 7px 2px 6px;
}

.active_workspace_1 {
  color: $subtext0;
  font-size: 19pt;
  padding: 0px 4px 4px 0px;
}

.active_workspace_2 {
  color: $subtext0;
  font-size: 16pt;
  padding: 0px 6px 4px 0px;
}

.active_workspace_3 {
  color: $subtext0;
  font-size: 17pt;
  padding: 0px 6px 7px 0px;
}

.active_workspace_4 {
  color: $subtext0;
  font-size: 15pt;
  padding: 0px 6px 7px 0px;
}

.active_workspace_5 {
  color: $subtext0;
  font-size: 16pt;
  padding: 0px 4px 0px 0px;
}

.focused_workspace_1 {
  color: $lavender;
  font-size: 19pt;
  padding: 0px 4px 4px 0px;
}

.focused_workspace_2 {
  color: $lavender;
  font-size: 16pt;
  padding: 0px 6px 4px 0px;
}

.focused_workspace_3 {
  color: $lavender;
  font-size: 17pt;
  padding: 0px 6px 7px 0px;
}

.focused_workspace_4 {
  color: $lavender;
  font-size: 15pt;
  padding: 0px 6px 7px 0px;
}

.focused_workspace_5 {
  color: $lavender;
  font-size: 16pt;
  padding: 0px 4px 0px 0px;
}

.empty_workspace_1 {
  color: $surface2;
  font-size: 19pt;
  padding: 0px 4px 4px 0px;
}

.empty_workspace_2 {
  color: $surface2;
  font-size: 16pt;
  padding: 0px 6px 4px 0px;
}

.empty_workspace_3 {
  color: $surface2;
  font-size: 17pt;
  padding: 0px 6px 7px 0px;
}

.empty_workspace_4 {
  color: $surface2;
  font-size: 15pt;
  padding: 0px 6px 7px 0px;
}

.empty_workspace_5 {
  color: $surface2;
  font-size: 16pt;
  padding: 0px 4px 0px 0px;
}

.volume_icon {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-size: 16pt;
  padding: 0px 10px 6px 6px;
}

.volume_slider {
  padding: 0px 0px 5px 4px;
}

.volume_slider scale trough highlight {
  all: unset;
  background-color: $red;
  border-radius: 5px;
}

.volume_slider scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 50px;
  min-width: 12px;
  border-radius: 5px;
}

.battery_icon {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-size: 17pt;
  padding: 0px 0px 0px 1px;
}

.battery_slider {
  font-family: Iosevka NF;
  font-weight: bold;
  color: $subtext0;
  font-size: 14pt;
  padding: 0px 0px 3px 0px;
}

.battery_slider scale trough highlight {
  all: unset;
  background-color: $green;
  border-radius: 5px 5px 5px 5px;
}

.battery_slider scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 50px;
  min-width: 20px;
  border-radius: 5px 5px 5px 5px;
}

.battery_box {
  padding: 0px 0px 5px 0px;
}

.brightness_icon {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-size: 15pt;
  padding: 6px 7px 5px 0px;
}

.brightness_slider {
  padding: 0px 0px 5px 7px;
}

.brightness_slider scale trough highlight {
  all: unset;
  background-color: $yellow;
  border-radius: 5px;
}

.brightness_slider scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 50px;
  min-width: 12px;
  border-radius: 5px;
}

.time {
  background-color: $base;
  color: $subtext1;
  font-family: Iosevka NF;
  font-size: 13pt;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  margin: 3px 0px 0px 2px;
  border-radius: 6px;
}

.poweroff_button {
  font-family: Iosevka NF;
  font-size: 14pt;
  padding: 8px 6px 0px 0px;
}

.reboot_button {
  font-family: Iosevka NF;
  font-size: 16pt;
  padding: 0px 2px 0px 0px;
}

.logout_button {
  font-family: Iosevka NF;
  font-size: 16pt;
  padding: 0px 2px 0px 2px;
}

tooltip {
  font-family: Iosevka NF;
  font-size: 11pt;
  opacity: 0.8;
}
