snippet ( "Parenthesis" i
($1)$0
endsnippet

snippet { "Brackets" i
{$1}$0
endsnippet

snippet [ "Square brackets" i
[$1]$0
endsnippet

snippet " "Comillas" i
"$1"$0
endsnippet

snippet ' "Apóstrofe" i
'$1'$0
endsnippet

snippet ` "Acento invertido" i
`$1`$0
endsnippet

snippet dt "Dots for bmk file" i
................
endsnippet
